
.Header {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}


.TextBox {
    position: relative;
    justify-content: center;
    top: 100px;
    left: 1500px;
    width: 200px;
    height: 200px;
    text-align: justify;
}